In [31]:
import pandas as pd
import numpy as np
import keras

import tensorflow as tf
from sklearn.model_selection import train_test_split
from keras.layers import Dense

ModuleNotFoundError: No module named 'tensorflow'

In [28]:
df = pd.read_csv('./SpotifyFeatures_new.csv')

# Drop columns
dropped_columns = ['genre', 'artist_name', 'track_name','track_id', 'mode', 'duration_ms', 'tempo', 'energy', 'acousticness']
df.drop(columns=dropped_columns, inplace=True)

# Normalize data
df['loudness'] = (df['loudness']-df['loudness'].min())/(df['loudness'].max()-df['loudness'].min())

# Split data
X, y = df.drop(columns='popularity'), df['popularity']
X.apply(lambda x:(x-np.min(x))/(np.max(x)-np.min(x)))
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=21, test_size=0.3)

,danceability,instrumentalness,liveness,loudness,speechiness,valence
158904,0.8020,0.000000,0.0932,0.740432,0.6250,0.3640
46914,0.5740,0.000000,0.0826,0.847405,0.2930,0.7490
100245,0.6550,0.928000,0.1070,0.831978,0.0253,0.2070
166028,0.5490,0.000000,0.0819,0.860946,0.0451,0.3180
3999,0.2630,0.000004,0.1300,0.771072,0.0363,0.1690
...,...,...,...,...,...,...
161271,0.4410,0.000000,0.1430,0.786214,0.1660,0.4910
46636,0.7260,0.000000,0.1400,0.812174,0.0317,0.9260
67476,0.0906,0.876000,0.0955,0.457358,0.0402,0.0353
7152,0.2910,0.056700,0.0985,0.457714,0.0489,0.0880
9598,0.6230,0.000000,0.8980,0.741054,0.9180,0.3810

In [ ]:


def create_model():
    # Building NN of 17,12,3,7 with keras
    model = keras.Sequential()
    model.add(Dense(12, activation='sigmoid'))
    model.add(Dense(3, activation='sigmoid'))
    model.add(Dense(7, activation='sigmoid'))

    # Stochastic Gradient Descent
    opt = tf.keras.optimizers.SGD(learning_rate = 0.3)

    # Compile model, loss function = mean squared error, optimizer = SGD with lambda = 0.3, print accuracy
    model.compile(loss='mse', 
                  optimizer=opt, 
                  metrics=['accuracy'])
    return model